@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Condensed&display=swap');


body {
    background-color: #FFF8EA;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    color: #402E32;
}

.bg-light {
    background-color: #dbb999 !important;
}

a,
span {
    color: #402E32 !important;
}

.navbar-nav .nav-link:hover {
    color: #b8751e !important;
}

.btn.btn-outline-secondary {
    color: #402E32 !important;
    border-color: #b8751e !important;
}

.btn.btn-outline-secondary:hover {
    color: #b8751e !important;
    background-color: #402E32 !important;
}

.btn-danger {
    color: #402E32 !important;
}

.main-content {
    flex: 1;
}

.callout {
    padding: 25px;
}

.page-link {
    padding: 10px 20px;
    font-size: 16px;
    color: #402E32;
    border: 1px solid #b8751e;
    border-radius: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.page-link:hover {
    background-color: #402E32;
}

.commentsection {
    background-color: #dbb999;
    padding: 10px;
    margin-bottom: 20px;
}

.comments {
    border: 1px solid #b8751e;
    background-color: #FFF8EA;
    margin: 10px;
    border-radius: 10px;
}

.star-rating {
    text-decoration: none;
    color: #b8751e;
    margin: 5px;
}
.homeimage {
    object-fit: cover;
}

footer {
    background-color: #dbb999;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-icon {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 30px;
    color: #402E32;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.footer-icons a i:hover {
    color: #402E32;
    text-decoration: none;
}

/* Images */

.userimages {
    min-height: 300px;
    object-fit: cover;
}

