body {
    background-color: whitesmoke;
}

.commentsection {
    background-color: white;
    padding: 10px;
}
.comments{
    border: 1px solid black;
    background-color: white;
    margin: 10px;
}
.homeimage {
    object-fit: cover;
}
