{% extends "base.html" %}

{% block content %}
{% load static %}
<!-- Posts -->
<section class="coffeeshopposts">
  <div class="row">
    {% for post in object_list %}
    <div class="col-md-6 col-lg-4 p-3">
      <div class="card h-100">
        {% if "placeholder" in post.featured_image.url %}
        <img class="card-img-top" width="640" height="360" style="object-fit: cover;"
          src="{% static 'images/coffeedefault.jpg' %}" alt="Coffee Shop Picture">
        {% else %}
        <img class="card-img-top" width="640" height="360" style="object-fit: cover;" src=" {{ post.featured_image.url }}" alt="Coffee Shop Picture">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ post.shop }}</h5>
          <p class="card-text">{{ post.description }}</p>
          <p class="card-text"><small class="text-muted">{{ post.location }}</small></p>
          <p class="author">Posted By: {{ post.author }}</p>
          <div class="star-rating">
          {% if post.rating == 1 %}
          <i class="fa-solid fa-star"></i>
          {% elif post.rating == 2 %}
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          {% elif post.rating == 3 %}
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          {% elif post.rating == 4 %}
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          {% elif post.rating == 5 %}
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          {% endif %}
          </div>
          <a class="btn btn-outline-secondary btn-sm" href="{% url 'post_detail' shop=post.shop %}"
            role="button">Read reviews...</a>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
  </div>

  {% endif %}
  {% endfor %}

</section>

{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
</nav>
{% endif %}
</div>
{% endblock %}