{% extends "base.html" %}

{% block content %}
<!-- Posts -->
<section class="coffeeshopposts">
  <div class="card-deck">
    {% for post in object_list %}
      <div class="card m-4">
        {% if "placeholder" in post.featured_image.url %}
          <img class="card-img-top"
            src="https://images.pexels.com/photos/894695/pexels-photo-894695.jpeg?auto=compress&cs=tinysrgb&w=1600">
          {% else %}
          <img class="card-img-top" src=" {{ post.featured_image.url }}">
          {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ post.shop }}</h5>
          <p class="card-text">{{ post.description }}</p>
          <p class="card-text"><small class="text-muted">Location</small></p>
          <p class="author">Posted By: {{ post.author }}</p>
          <button type="button" class="btn btn-secondary btn-sm" href="#" role="button">Read reviews...</button>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
      {% endif %}
      {% endfor %} 
    </div>
</section>

{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
</nav>
{% endif %}
</div>
{% endblock %}