{% extends "base.html" %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<!-- Coffee Shop Post -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card-body">
        <h2 class="card-title">{{ post.shop }}</h2>
        <h4 class="card-text"><i>{{ post.description }}</i></h4>
        <div class="star-rating">
          {% if post.rating == 1 %}
          <i class="fa-solid fa-star"></i>
          {% elif post.rating == 2 %}
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          {% elif post.rating == 3 %}
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          {% elif post.rating == 4 %}
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          {% elif post.rating == 5 %}
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          {% endif %}
          </div>
        <h5 class="card-text">Location: {{ post.location }}</h5>
        <p class="author">Posted By: {{ post.author }}</p>
        <p class="card-text">{{ post.review }}</p>
        {% if request.user == post.author %}
        <div>
          <a class="btn btn-outline-secondary" href="/edit/{{ post.id }}"
            role="button">Edit Post</a>
          <button class="btn btn-outline-secondary btn-delete" data-post_id="{{ post.id }}">Delete</button>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-header">
        {% if "placeholder" in post.featured_image.url %}
        <img class="card-img-top userimages" 
          src="{% static 'images/coffeedefault.jpg' %}" alt="Coffee Shop Picture">
        {% else %}
        <img class="card-img-top userimages" src=" {{ post.featured_image.url }}" alt="Coffee Shop Picture">
        {% endif %}
      </div>
    </div>
  </div>

</div>
<!-- Comment Display Section -->
<div class="row m-2">
  <div class="col-lg-8 commentsection">
    <div class="m-4">
      <h3>Comments:</h3>
      <div class="card-body">
        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            <div class="star-rating">
              {% if comment.rating == 1 %}
              <i class="fa-solid fa-star"></i>
              {% elif comment.rating == 2 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              {% elif comment.rating == 3 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              {% elif comment.rating == 4 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              {% elif pcommentost.rating == 5 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              {% endif %}
              </div>
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Add commnet / Review Section -->
  <div class="col-lg-4 commentsection">
    {% if commented %}
    <div class="alert alert-success" role="alert">
      Your comment is awaiting approval
    </div>
    {% else %}
    {% if user.is_authenticated %}
    <div class="comments p-2">
      <h3>Post your own review or leave a comment here:</h3>
      <p>Posting as : {{ user.username }}</p>
      <form method="post" style="margin-top: 1.3em;">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button class="btn btn-outline-secondary" style="margin-top: 1.3em;" type="submit">Submit Comment</button>
      </form>
    </div>
    {% else %}
    <div class="comments p-2">
      <h4>Please <a type="button" class="btn btn-outline-secondary btn-sm" href="{% url 'account_login' %}"
          role="button">Login</a> or <a type="button" class="btn btn-outline-secondary btn-sm"
          href="{% url 'account_signup' %}" role="button">Register</a> if you wish to comment.</h4>
    </div>

    {% endif %}
    {% endif %}
  </div>
</div>
<!-- Delete Post Confirmation Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your post? This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extras %}
{% load static %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock extras %}