{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="card">
    <div class="card-header">
        {% if "placeholder" in post.featured_image.url %}
          <img class="card-img-top"
            src="https://images.pexels.com/photos/894695/pexels-photo-894695.jpeg?auto=compress&cs=tinysrgb&w=1600">
          {% else %}
          <img class="card-img-top" src=" {{ post.featured_image.url }}">
          {% endif %}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ post.shop }}</h5>
      <p class="card-text">{{ post.description }}</p>
      <div>
        <a href="{% url 'edit_post' %}">
          <button>Edit Post </button>
        </a>
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Comments:</h3>
      <div class="card-body">
          <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
          {% for comment in comments %}
          <div class="comments" style="padding: 10px;">
              <p class="font-weight-bold">
                  <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                  {{ comment.name }}
                  <span class=" text-muted font-weight-normal">
                      <!-- The comment's created date goes here -->
                      {{ comment.created_on }}
                  </span> wrote:
              </p>
              <!-- The body of the comment goes before the | -->
              {{ comment.body | linebreaks }}
          </div>
          <!-- Our for loop ends here -->
          {% endfor %}
      </div>
  </div>
    <div class="card-body">
      {% if commented %}
      <div class="alert alert-success" role="alert">
        Your comment is awaiting approval
      </div>
      {% else %}
      {% if user.is_authenticated %}

      <h3>Leave your review here:</h3>
      <p>Posting as : {{ user.username }}</p>
      <form method="post" style="margin-top: 1.3em;">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg">Submit Review</button>
      </form>

      {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}