{% extends "base.html" %}


{% block content %}
{% load static %}

{% if searched %}
<h1>You searched for {{ searched }}, here are your results:</h1>
<div class="container">
    {% if shops %}
    <div class="row">
        <div class="col-md-4">
            {% for shop in shops %}
            <div class="card m-4">
                {% if "placeholder" in shop.featured_image.url %}
                <img class="card-img-top" width="640" height="360" style="max-height: 30vh; object-fit: cover;"
                    src="{% static 'images/coffeedefault.jpg' %}" alt="Coffee Shop Image">
                {% else %}
                <img class="card-img-top" width="640" height="360" style="max-height: 30vh; object-fit: cover;"
                    src=" {{ shop.featured_image.url }}" alt="Coffee Shop Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ shop.shop }}</h5>
                    <p class="card-text">{{ shop.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ shop.location }}</small></p>
                    <p class="author">Posted By: {{ shop.author }}</p>
                    <div class="star-rating">
                        {% if shop.rating == 1 %}
                        <i class="fa-solid fa-star"></i>
                        {% elif post.rating == 2 %}
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        {% elif shop.rating == 3 %}
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        {% elif shop.rating == 4 %}
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        {% elif shop.rating == 5 %}
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        {% endif %}
                        </div>
                    <a class="btn btn-outline-secondary btn-sm"
                        href="{% url 'post_detail' shop=shop.shop %}" role="button">Read reviews...</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    {% else %}
    <h5> It looks like there are no results for {{ searched}}...</h5>
    <h5>Why not <a class="btn btn-outline-secondary btn-sm" href="{% url 'create_coffee_shop_post' %}"
            role="button">add a Coffee Shop</a> yourself?</h5>
    {% endif %}
</div>


{% else %}
<h1>Hey! you forgot to search for a shop...</h1>
{% endif %}



{% endblock %}